.alert-danger {
    color: red;
    margin-top: 10px;
    font-weight: 600;
}
.message_result {
    color: #f9b43b;
    font-size: 4.5rem;
    font-family: Gagalin-Regular,Helvetica,sans-serif;
    margin-bottom: .75rem;
    text-align: center;
}
